doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width')
  style.
    footer{
    height: 150px;
    width: 100%;
    background-color: #2E576D;
    }
    header{
    height: 100px;
    width: 100%;
    background-color: #2E576D;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    header > h1 {
    color: white
    }
header
  h1 Service Link Guyana
div
  p Hi #{clientName}
  p
    | You have just received a proposal from from #{providerName} for #{jobTitle} use the following link to review: #{link}
footer